.im{
    height: 50px;
    text-align: center;
    color: red;
}

.dz-2{
    color: red;
    margin-bottom: 50x;
}

.text-dz {
    text-align: center;
}

/*.hw-1-task {
    width: 200px;
    height: 100px;
    border: 3px solid #0094ff;
    word-wrap: break-word;
    text-align: center;
  
}

div.test-romb {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 200px;
    height: 100px;
    border: 3px solid #0094ff;
}
*/